## 데이터 병합

In [1]:
import pandas as pd

In [2]:
total_cap = pd.read_csv('datasets/kospi_cap_total.csv')
total_cap

,Unnamed: 0,티커,종가,시가총액,거래량,거래대금,상장주식수,year
0,0,005930,158000,23895910836000,1208632,194209091000,151239942,2000
1,1,017670,253000,22555625510000,1092375,276797950000,89152670,2000
2,2,030200,67000,20917377153000,509016,34697125000,312199659,2000
3,3,015760,23600,15106380673600,947940,22455272000,640100876,2000
4,4,005490,76500,7380767812500,186155,14400829500,96480625,2000
...,...,...,...,...,...,...,...,...
21700,948,000227,12280,3997876800,20170,246003330,325560,2023
21701,949,001527,12490,3854026810,8502,97189500,308569,2023
21702,950,009415,2885,3756679670,2569764,9133635795,1302142,2023
21703,951,001525,6010,3712563310,630,3786770,617731,2023
21704,952,002787,12480,3679203840,242,3043000,294808,2023

In [3]:
total_cap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21705 entries, 0 to 21704
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  21705 non-null  int64
 1   티커          21705 non-null  object
 2   종가          21705 non-null  int64
 3   시가총액        21705 non-null  int64
 4   거래량         21705 non-null  int64
 5   거래대금        21705 non-null  int64
 6   상장주식수       21705 non-null  int64
 7   year        21705 non-null  int64
dtypes: int64(7), object(1)
memory usage: 1.3+ MB

In [4]:
# total_data = pd.read_csv('datasets/data.csv', encoding='cp949', dtypes = {'거래소코드':'object'})
total_data = pd.read_csv('datasets/data.csv', encoding='cp949')
total_data

,회사명,거래소코드,회계년도,PER(최고)(IFRS),PER(최저)(IFRS),PBR(최고)(IFRS),PBR(최저)(IFRS),PCR(최고)(IFRS),PCR(최저)(IFRS),PSR(최고)(IFRS),PSR(최저)(IFRS),1주당순이익(IFRS)(원),유동자산(*)(요약)(IFRS연결)(백만원),부채(*)(요약)(IFRS연결)(백만원),당기순이익(손실)(요약)(IFRS연결)(백만원),매출액(수익)(요약)(IFRS연결)(백만원),매출총이익(손실)(요약)(IFRS연결)(백만원),계속영업이익(손실)(요약)(IFRS연결)(백만원)
0,(주)BNK금융지주,138930,2011/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(주)BNK금융지주,138930,2012/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(주)BNK금융지주,138930,2013/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(주)BNK금융지주,138930,2014/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,(주)BNK금융지주,138930,2015/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29824,흥아해운(주),3280,2018/12,0.00,0.00,2.97,1.09,0.00,0.00,0.24,0.09,-576.0,108355.0,730550.0,-86540.0,753866.0,-7002.0,-86540.0
29825,흥아해운(주),3280,2019/12,0.00,0.00,7.85,1.93,0.00,0.00,1.40,0.35,-400.0,93810.0,400043.0,-51357.0,102167.0,5662.0,-41776.0
29826,흥아해운(주),3280,2020/12,0.00,0.00,0.00,0.00,0.00,0.00,0.71,0.27,-323.0,59095.0,313060.0,-50876.0,88939.0,7346.0,-50876.0
29827,흥아해운(주),3280,2021/12,84.63,2.95,12.35,0.43,0.00,0.00,16.33,0.57,113.0,55264.0,144359.0,16436.0,81724.0,5673.0,16436.0
29828,흥아해운(주),3280,2022/12,66.22,20.78,7.21,2.26,33.21,10.42,6.32,1.98,58.0,105042.0,181755.0,23810.0,177860.0,44960.0,23810.0

In [5]:
total_data['거래소코드'] = total_data['거래소코드'].apply(lambda x: str(x).zfill(6))
total_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29829 entries, 0 to 29828
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   회사명                          29829 non-null  object
 1   거래소코드                        29829 non-null  object
 2   회계년도                         29829 non-null  object
 3   PER(최고)(IFRS)                11546 non-null  float64
 4   PER(최저)(IFRS)                11546 non-null  float64
 5   PBR(최고)(IFRS)                11546 non-null  float64
 6   PBR(최저)(IFRS)                11546 non-null  float64
 7   PCR(최고)(IFRS)                11546 non-null  float64
 8   PCR(최저)(IFRS)                11546 non-null  float64
 9   PSR(최고)(IFRS)                11546 non-null  float64
 10  PSR(최저)(IFRS)                11546 non-null  float64
 11  1주당순이익(IFRS)(원)              11550 non-null  float64
 12  유동자산(*)(요약)(IFRS연결)(백만원)     9189 non-null   float64
 13  부채(*)(요약)(IFRS연결)(백만원)       9189 non-null   float64
 14  당기순이익(손실)(요약)(IFRS연결)(백만원)   9189 non-null   float64
 15  매출액(수익)(요약)(IFRS연결)(백만원)     9189 non-null   float64
 16  매출총이익(손실)(요약)(IFRS연결)(백만원)   9189 non-null   float64
 17  계속영업이익(손실)(요약)(IFRS연결)(백만원)  9189 non-null   float64
dtypes: float64(15), object(3)
memory usage: 4.1+ MB

In [6]:
# total_data['year'] = total_data['회계년도'].split
total_data['year'] = total_data['회계년도'].apply(lambda x: x.split('/')[0]).astype('int') + 1
total_data

,회사명,거래소코드,회계년도,PER(최고)(IFRS),PER(최저)(IFRS),PBR(최고)(IFRS),PBR(최저)(IFRS),PCR(최고)(IFRS),PCR(최저)(IFRS),PSR(최고)(IFRS),PSR(최저)(IFRS),1주당순이익(IFRS)(원),유동자산(*)(요약)(IFRS연결)(백만원),부채(*)(요약)(IFRS연결)(백만원),당기순이익(손실)(요약)(IFRS연결)(백만원),매출액(수익)(요약)(IFRS연결)(백만원),매출총이익(손실)(요약)(IFRS연결)(백만원),계속영업이익(손실)(요약)(IFRS연결)(백만원),year
0,(주)BNK금융지주,138930,2011/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
1,(주)BNK금융지주,138930,2012/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
2,(주)BNK금융지주,138930,2013/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014
3,(주)BNK금융지주,138930,2014/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
4,(주)BNK금융지주,138930,2015/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29824,흥아해운(주),003280,2018/12,0.00,0.00,2.97,1.09,0.00,0.00,0.24,0.09,-576.0,108355.0,730550.0,-86540.0,753866.0,-7002.0,-86540.0,2019
29825,흥아해운(주),003280,2019/12,0.00,0.00,7.85,1.93,0.00,0.00,1.40,0.35,-400.0,93810.0,400043.0,-51357.0,102167.0,5662.0,-41776.0,2020
29826,흥아해운(주),003280,2020/12,0.00,0.00,0.00,0.00,0.00,0.00,0.71,0.27,-323.0,59095.0,313060.0,-50876.0,88939.0,7346.0,-50876.0,2021
29827,흥아해운(주),003280,2021/12,84.63,2.95,12.35,0.43,0.00,0.00,16.33,0.57,113.0,55264.0,144359.0,16436.0,81724.0,5673.0,16436.0,2022
29828,흥아해운(주),003280,2022/12,66.22,20.78,7.21,2.26,33.21,10.42,6.32,1.98,58.0,105042.0,181755.0,23810.0,177860.0,44960.0,23810.0,2023

In [7]:
merged_df = pd.merge(total_cap[['시가총액', '티커', 'year']], total_data, 
                     left_on=['티커', 'year'], 
                     right_on=['거래소코드', 'year']
                     )


merged_df.to_csv('datasets/kospi_total.csv')