In [51]:
import pandas as pd

In [52]:
fname = 'datasets/kospi_total.csv'

data = pd.read_csv(fname, dtype={'거래소코드':'object'})
data.head()

,Unnamed: 0,시가총액,티커,year,회사명,거래소코드,회계년도,PER(최고)(IFRS),PER(최저)(IFRS),PBR(최고)(IFRS),...,PCR(최저)(IFRS),PSR(최고)(IFRS),PSR(최저)(IFRS),1주당순이익(IFRS)(원),유동자산(*)(요약)(IFRS연결)(백만원),부채(*)(요약)(IFRS연결)(백만원),당기순이익(손실)(요약)(IFRS연결)(백만원),매출액(수익)(요약)(IFRS연결)(백만원),매출총이익(손실)(요약)(IFRS연결)(백만원),계속영업이익(손실)(요약)(IFRS연결)(백만원)
0,0,23895910836000,5930,2000,삼성전자(주),005930,1999/12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,22555625510000,17670,2000,에스케이텔레콤(주),017670,1999/12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,20917377153000,30200,2000,(주)케이티,030200,1999/12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,15106380673600,15760,2000,한국전력공사(주),015760,1999/12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,7380767812500,5490,2000,포스코홀딩스(주),005490,1999/12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
data['티커'].equals(data['거래소코드'])

False

In [54]:
data.columns

Index(['Unnamed: 0', '시가총액', '티커', 'year', '회사명', '거래소코드', '회계년도',
       'PER(최고)(IFRS)', 'PER(최저)(IFRS)', 'PBR(최고)(IFRS)', 'PBR(최저)(IFRS)',
       'PCR(최고)(IFRS)', 'PCR(최저)(IFRS)', 'PSR(최고)(IFRS)', 'PSR(최저)(IFRS)',
       '1주당순이익(IFRS)(원)', '유동자산(*)(요약)(IFRS연결)(백만원)', '부채(*)(요약)(IFRS연결)(백만원)',
       '당기순이익(손실)(요약)(IFRS연결)(백만원)', '매출액(수익)(요약)(IFRS연결)(백만원)',
       '매출총이익(손실)(요약)(IFRS연결)(백만원)', '계속영업이익(손실)(요약)(IFRS연결)(백만원)'],
      dtype='object')

In [55]:
data = data[[
    '시가총액', 'year', '회사명', '거래소코드', '회계년도',
       'PER(최고)(IFRS)', 'PER(최저)(IFRS)', 'PBR(최고)(IFRS)', 'PBR(최저)(IFRS)',
       'PCR(최고)(IFRS)', 'PCR(최저)(IFRS)', 'PSR(최고)(IFRS)', 'PSR(최저)(IFRS)',
       '1주당순이익(IFRS)(원)', '유동자산(*)(요약)(IFRS연결)(백만원)', '부채(*)(요약)(IFRS연결)(백만원)',
       '당기순이익(손실)(요약)(IFRS연결)(백만원)', '매출액(수익)(요약)(IFRS연결)(백만원)',
       '매출총이익(손실)(요약)(IFRS연결)(백만원)', '계속영업이익(손실)(요약)(IFRS연결)(백만원)'
]]
data.columns

Index(['시가총액', 'year', '회사명', '거래소코드', '회계년도', 'PER(최고)(IFRS)',
       'PER(최저)(IFRS)', 'PBR(최고)(IFRS)', 'PBR(최저)(IFRS)', 'PCR(최고)(IFRS)',
       'PCR(최저)(IFRS)', 'PSR(최고)(IFRS)', 'PSR(최저)(IFRS)', '1주당순이익(IFRS)(원)',
       '유동자산(*)(요약)(IFRS연결)(백만원)', '부채(*)(요약)(IFRS연결)(백만원)',
       '당기순이익(손실)(요약)(IFRS연결)(백만원)', '매출액(수익)(요약)(IFRS연결)(백만원)',
       '매출총이익(손실)(요약)(IFRS연결)(백만원)', '계속영업이익(손실)(요약)(IFRS연결)(백만원)'],
      dtype='object')

In [56]:
data.columns = [
    '시가총액', 'year', '회사명', '거래소코드', '회계년도', 
     'PER(최고)', 'PER(최저)', 
     'PBR(최고)', 'PBR(최저)',
     'PCR(최고)', 'PCR(최저)', 
     'PSR(최고)', 'PSR(최저)', 
     '1주당순이익(원)','유동자산(백만원)', '부채(백만원)',
       '당기순이익(백만원)', '매출액(백만원)',
       '매출총이익(백만원)', '계속영업이익(백만원)'
]

In [57]:
data['시가총액'] = data['시가총액'] / 1000000

In [58]:
data.columns

Index(['시가총액', 'year', '회사명', '거래소코드', '회계년도', 'PER(최고)', 'PER(최저)', 'PBR(최고)',
       'PBR(최저)', 'PCR(최고)', 'PCR(최저)', 'PSR(최고)', 'PSR(최저)', '1주당순이익(원)',
       '유동자산(백만원)', '부채(백만원)', '당기순이익(백만원)', '매출액(백만원)', '매출총이익(백만원)',
       '계속영업이익(백만원)'],
      dtype='object')

In [59]:
data.columns = ['시가총액(백만원)', 'year', '회사명', '거래소코드', '회계년도', 'PER(최고)', 'PER(최저)', 'PBR(최고)',
       'PBR(최저)', 'PCR(최고)', 'PCR(최저)', 'PSR(최고)', 'PSR(최저)', '1주당순이익(원)',
       '유동자산(백만원)', '부채(백만원)', '당기순이익(백만원)', '매출액(백만원)', '매출총이익(백만원)',
       '계속영업이익(백만원)']

In [60]:
data[(data['거래소코드']=='005930') & (data['year']==2006)]
# data[(data['year']==2006)]

,시가총액(백만원),year,회사명,거래소코드,회계년도,PER(최고),PER(최저),PBR(최고),PBR(최저),PCR(최고),PCR(최저),PSR(최고),PSR(최저),1주당순이익(원),유동자산(백만원),부채(백만원),당기순이익(백만원),매출액(백만원),매출총이익(백만원),계속영업이익(백만원)
4034,9.029449e+07,2006,삼성전자(주),005930,2005/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
# 2007년 데이터부터 사용

data = data[data['year']>= 2007]
data

,시가총액(백만원),year,회사명,거래소코드,회계년도,PER(최고),PER(최저),PBR(최고),PBR(최저),PCR(최고),PCR(최저),PSR(최고),PSR(최저),1주당순이익(원),유동자산(백만원),부채(백만원),당기순이익(백만원),매출액(백만원),매출총이익(백만원),계속영업이익(백만원)
4702,8.189843e+07,2007,삼성전자(주),005930,2006/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4703,5.013243e+07,2007,포스코홀딩스(주),005490,2006/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4704,3.363000e+07,2007,에이치디한국조선해양(주),009540,2006/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4705,2.543816e+07,2007,한국전력공사(주),015760,2006/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4706,2.321016e+07,2007,(주)국민은행,060000,2006/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17333,2.426302e+04,2023,제이준코스메틱(주),025620,2022/12,0.0,0.0,13.29,0.00,0.0,0.0,99.19,0.00,-7343.0,22336.0,6806.0,-21703.0,6246.0,905.0,-19511.0
17334,2.086506e+04,2023,(주)대유플러스,000300,2022/12,0.0,0.0,3.30,1.65,0.0,0.0,1.73,0.86,-407.0,254616.0,431958.0,-24286.0,536677.0,66502.0,-24273.0
17335,1.920832e+04,2023,비케이탑스(주),030790,2022/12,0.0,0.0,11.50,0.00,0.0,0.0,21.48,0.00,-378.0,68846.0,89910.0,-14400.0,31912.0,2286.0,-14400.0
17336,1.863705e+04,2023,(주)코아스,071950,2022/12,0.0,0.0,3.01,1.43,0.0,0.0,0.49,0.23,-72.0,30927.0,58376.0,-1663.0,97886.0,23591.0,-1663.0
17337,1.548000e+04,2023,일정실업(주),008500,2022/12,0.0,0.0,6.11,2.19,0.0,0.0,1.70,0.61,-6067.0,13595.0,27888.0,-8534.0,31117.0,-1006.0,-8534.0

In [62]:
data.columns

Index(['시가총액(백만원)', 'year', '회사명', '거래소코드', '회계년도', 'PER(최고)', 'PER(최저)',
       'PBR(최고)', 'PBR(최저)', 'PCR(최고)', 'PCR(최저)', 'PSR(최고)', 'PSR(최저)',
       '1주당순이익(원)', '유동자산(백만원)', '부채(백만원)', '당기순이익(백만원)', '매출액(백만원)',
       '매출총이익(백만원)', '계속영업이익(백만원)'],
      dtype='object')

In [63]:
columns = ['year', '회사명', '거래소코드', '회계년도']
columns_value_ncav = ['시가총액(백만원)', '유동자산(백만원)', '부채(백만원)', '당기순이익(백만원)'] # 가치주(NCAV)
columns_value_low = ['PER(최고)', 'PER(최저)', 'PBR(최고)', 'PBR(최저)', 'PCR(최고)', 'PCR(최저)', 'PSR(최고)', 'PSR(최저)'] # 가치주(저PER, 저PBR, 저PCR)
columns_growth = ['PER(최고)', 'PER(최저)', '1주당순이익(원)'] # 성장주(PEG)

columns_etc = ['매출액(백만원)', '매출총이익(백만원)', '계속영업이익(백만원)']

In [64]:
# 가치주 - NCAV 전략 데이터
data_value_ncav = data[columns + columns_value_ncav]

# 가치주 - LOW 전략 데이터
data_value_low = data[columns + columns_value_low]

# 성장주 - PEG 전략 데이터
data_growth = data[columns + columns_growth]

### (가치주) - NCAV

- 데이터프레임명 : `data_value_ncav`

In [65]:
data_value_ncav

,year,회사명,거래소코드,회계년도,시가총액(백만원),유동자산(백만원),부채(백만원),당기순이익(백만원)
4702,2007,삼성전자(주),005930,2006/12,8.189843e+07,NaN,NaN,NaN
4703,2007,포스코홀딩스(주),005490,2006/12,5.013243e+07,NaN,NaN,NaN
4704,2007,에이치디한국조선해양(주),009540,2006/12,3.363000e+07,NaN,NaN,NaN
4705,2007,한국전력공사(주),015760,2006/12,2.543816e+07,NaN,NaN,NaN
4706,2007,(주)국민은행,060000,2006/12,2.321016e+07,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
17333,2023,제이준코스메틱(주),025620,2022/12,2.426302e+04,22336.0,6806.0,-21703.0
17334,2023,(주)대유플러스,000300,2022/12,2.086506e+04,254616.0,431958.0,-24286.0
17335,2023,비케이탑스(주),030790,2022/12,1.920832e+04,68846.0,89910.0,-14400.0
17336,2023,(주)코아스,071950,2022/12,1.863705e+04,30927.0,58376.0,-1663.0
17337,2023,일정실업(주),008500,2022/12,1.548000e+04,13595.0,27888.0,-8534.0

In [68]:
data_value_ncav['NCAV'] = data_value_ncav['유동자산(백만원)'] - data_value_ncav['부채(백만원)']

data_value_ncav['NCAV/시총'] = data_value_ncav['NCAV'] / data_value_ncav['시가총액(백만원)']

# 조건1: ncav > 1.5*시총
data_value_ncav['조건1'] = data_value_ncav['NCAV/시총'] > 1

# 조건2: 흑자기업(당기순이익>0)
data_value_ncav['조건2'] = data_value_ncav['당기순이익(백만원)'] > 0

data_value_ncav

/var/folders/nb/gzzt74qx05x5d00ns7srqn180000gn/T/ipykernel_88550/2344944578.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_value_ncav['NCAV'] = data_value_ncav['유동자산(백만원)'] - data_value_ncav['부채(백만원)']
/var/folders/nb/gzzt74qx05x5d00ns7srqn180000gn/T/ipykernel_88550/2344944578.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_value_ncav['NCAV/시총'] = data_value_ncav['NCAV'] / data_value_ncav['시가총액(백만원)']
/var/folders/nb/gzzt74qx05x5d00ns7srqn180000gn/T/ipykernel_88550/2344944578.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_value_ncav['조건1'] = data_value_ncav['NCAV/시총'] > 1
/var/folders/nb/gzzt74qx05x5d00ns7srqn180000gn/T/ipykernel_88550/2344944578.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_value_ncav['조건2'] = data_value_ncav['당기순이익(백만원)'] > 0

,year,회사명,거래소코드,회계년도,시가총액(백만원),유동자산(백만원),부채(백만원),당기순이익(백만원),NCAV,NCAV/시총,조건1,조건2
4702,2007,삼성전자(주),005930,2006/12,8.189843e+07,NaN,NaN,NaN,NaN,NaN,False,False
4703,2007,포스코홀딩스(주),005490,2006/12,5.013243e+07,NaN,NaN,NaN,NaN,NaN,False,False
4704,2007,에이치디한국조선해양(주),009540,2006/12,3.363000e+07,NaN,NaN,NaN,NaN,NaN,False,False
4705,2007,한국전력공사(주),015760,2006/12,2.543816e+07,NaN,NaN,NaN,NaN,NaN,False,False
4706,2007,(주)국민은행,060000,2006/12,2.321016e+07,NaN,NaN,NaN,NaN,NaN,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
17333,2023,제이준코스메틱(주),025620,2022/12,2.426302e+04,22336.0,6806.0,-21703.0,15530.0,0.640069,False,False
17334,2023,(주)대유플러스,000300,2022/12,2.086506e+04,254616.0,431958.0,-24286.0,-177342.0,-8.499472,False,False
17335,2023,비케이탑스(주),030790,2022/12,1.920832e+04,68846.0,89910.0,-14400.0,-21064.0,-1.096608,False,False
17336,2023,(주)코아스,071950,2022/12,1.863705e+04,30927.0,58376.0,-1663.0,-27449.0,-1.472819,False,False
17337,2023,일정실업(주),008500,2022/12,1.548000e+04,13595.0,27888.0,-8534.0,-14293.0,-0.923320,False,False

In [69]:
flag1 = data_value_ncav['조건1']
flag2 = flag1 & data_value_ncav['조건2']

data_value_ncav[flag1]['year'].value_counts()

year
2023    61
2022    49
2019    36
2020    36
2008    35
2018    33
2011    30
2012    25
2021    24
2017    19
2009    14
2013    14
2016    13
2010    12
2014     9
2015     8
Name: count, dtype: int64

In [70]:
flag2 = flag1 & data_value_ncav['조건2'] # ncav, 흑자기업

data_value_ncav[flag2]['year'].value_counts()

year
2023    52
2022    44
2019    32
2008    31
2020    31
2018    29
2011    26
2021    20
2012    19
2017    18
2016    13
2009    12
2010    12
2013     9
2014     7
2015     7
Name: count, dtype: int64

### (가치주) - LOW

- 데이터프레임명 : `data_value_low`

In [41]:
data_value_low

,year,회사명,거래소코드,회계년도,PER(최고),PER(최저),PBR(최고),PBR(최저),PCR(최고),PCR(최저),PSR(최고),PSR(최저)
4730,2007,삼성전자(주),005930,2007/12,15.74,11.46,2.34,1.70,8.81,6.41,1.85,1.35
4731,2007,포스코홀딩스(주),005490,2007/12,18.13,6.74,2.81,1.05,13.15,4.89,3.00,1.12
4732,2007,에이치디한국조선해양(주),009540,2007/12,24.08,5.25,8.73,1.90,10.16,2.22,2.69,0.59
4733,2007,한국전력공사(주),015760,2007/12,19.86,15.08,0.71,0.54,12.13,9.21,1.07,0.81
4734,2007,(주)국민은행,060000,2007/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
16644,2023,(주)오리엔트바이오,002630,2023/03,0.00,0.00,1.78,0.96,109.39,58.89,4.40,2.37
16645,2023,(주)금비,008870,2023/09,0.00,0.00,1.91,0.70,0.00,0.00,1.61,0.58
16646,2023,(주)세원정공,021820,2023/06,6.63,0.00,0.30,0.00,8.47,0.00,1.72,0.00
16647,2023,(주)체시스,033250,2023/06,184.93,108.39,1.43,0.84,8.58,5.03,1.16,0.68
16648,2023,(주)형지엘리트,093240,2023/06,40.31,23.58,0.92,0.54,0.00,0.00,0.65,0.38

### (성장주) - PEG

- 데이터프레임명 : `data_growth`

In [42]:
data_growth

       year            회사명   거래소코드     회계년도  PER(최고)  PER(최저)  1주당순이익(원)
4730   2007        삼성전자(주)  005930  2007/12    15.74    11.46    49532.0
4731   2007      포스코홀딩스(주)  005490  2007/12    18.13     6.74    48444.0
4732   2007  에이치디한국조선해양(주)  009540  2007/12    24.08     5.25    27778.0
4733   2007      한국전력공사(주)  015760  2007/12    19.86    15.08     2504.0
4734   2007        (주)국민은행  060000  2007/12      NaN      NaN        NaN
...     ...            ...     ...      ...      ...      ...        ...
16644  2023     (주)오리엔트바이오  002630  2023/03     0.00     0.00     -105.0
16645  2023          (주)금비  008870  2023/09     0.00     0.00    -3884.0
16646  2023        (주)세원정공  021820  2023/06     6.63     0.00     1516.0
16647  2023         (주)체시스  033250  2023/06   184.93   108.39        8.0
16648  2023       (주)형지엘리트  093240  2023/06    40.31    23.58       49.0

[11919 rows x 7 columns]

In [73]:
data_growth['회계년도'].unique()

array(['2006/12', '2006/03', '2006/10', '2006/06', '2006/09', '2006/11',
       '2006/01', '2007/12', '2007/03', '2007/10', '2007/09', '2007/06',
       '2007/11', '2007/01', '2008/12', '2008/03', '2008/10', '2008/06',
       '2008/09', '2008/11', '2008/01', '2009/12', '2009/03', '2009/06',
       '2009/09', '2009/11', '2009/01', '2010/12', '2010/03', '2010/06',
       '2010/09', '2010/11', '2010/01', '2011/12', '2011/03', '2011/06',
       '2011/09', '2011/11', '2012/12', '2012/03', '2012/06', '2012/09',
       '2012/11', '2013/12', '2013/03', '2013/06', '2013/09', '2013/11',
       '2014/12', '2014/03', '2014/06', '2014/09', '2014/11', '2015/12',
       '2015/03', '2015/06', '2015/11', '2015/09', '2016/12', '2016/03',
       '2016/06', '2016/11', '2016/09', '2017/12', '2017/03', '2017/11',
       '2017/06', '2017/09', '2018/12', '2018/03', '2018/06', '2018/11',
       '2018/09', '2019/12', '2019/03', '2019/11', '2019/06', '2019/09',
       '2020/12', '2020/06', '2020/03', '2020/11', '2020/09', '2021/12',
       '2021/03', '2021/06', '2021/09', '2021/11', '2022/12', '2022/06',
       '2022/03', '2022/11', '2022/09'], dtype=object)

In [72]:
data_growth.isna().sum()

year            0
회사명             0
거래소코드           0
회계년도            0
PER(최고)      1615
PER(최저)      1615
1주당순이익(원)    1612
dtype: int64