In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
fname = '../datasets/kospi_total.csv'

data = pd.read_csv(fname, dtype={'거래소코드':'object', '티커' : 'object'}, index_col=0)
data.shape

(17338, 21)

In [3]:
data.head(3)

,시가총액,티커,year,회사명,거래소코드,회계년도,PER(최고)(IFRS),PER(최저)(IFRS),PBR(최고)(IFRS),PBR(최저)(IFRS),...,PCR(최저)(IFRS),PSR(최고)(IFRS),PSR(최저)(IFRS),1주당순이익(IFRS)(원),유동자산(*)(요약)(IFRS연결)(백만원),부채(*)(요약)(IFRS연결)(백만원),당기순이익(손실)(요약)(IFRS연결)(백만원),매출액(수익)(요약)(IFRS연결)(백만원),매출총이익(손실)(요약)(IFRS연결)(백만원),계속영업이익(손실)(요약)(IFRS연결)(백만원)
0,23895910836000,005930,2000,삼성전자(주),005930,1999/12,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,22555625510000,017670,2000,에스케이텔레콤(주),017670,1999/12,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20917377153000,030200,2000,(주)케이티,030200,1999/12,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.tail(3)

,시가총액,티커,year,회사명,거래소코드,회계년도,PER(최고)(IFRS),PER(최저)(IFRS),PBR(최고)(IFRS),PBR(최저)(IFRS),...,PCR(최저)(IFRS),PSR(최고)(IFRS),PSR(최저)(IFRS),1주당순이익(IFRS)(원),유동자산(*)(요약)(IFRS연결)(백만원),부채(*)(요약)(IFRS연결)(백만원),당기순이익(손실)(요약)(IFRS연결)(백만원),매출액(수익)(요약)(IFRS연결)(백만원),매출총이익(손실)(요약)(IFRS연결)(백만원),계속영업이익(손실)(요약)(IFRS연결)(백만원)
17335,19208323080,030790,2023,비케이탑스(주),030790,2022/12,0.0,0.0,11.50,0.00,...,0.0,21.48,0.00,-378.0,68846.0,89910.0,-14400.0,31912.0,2286.0,-14400.0
17336,18637047630,071950,2023,(주)코아스,071950,2022/12,0.0,0.0,3.01,1.43,...,0.0,0.49,0.23,-72.0,30927.0,58376.0,-1663.0,97886.0,23591.0,-1663.0
17337,15480000000,008500,2023,일정실업(주),008500,2022/12,0.0,0.0,6.11,2.19,...,0.0,1.70,0.61,-6067.0,13595.0,27888.0,-8534.0,31117.0,-1006.0,-8534.0

In [5]:
data['티커'].equals(data['거래소코드'])

True

### 데이터 전처리

컬럼명 변경 및 불필요 컬럼 제거

In [6]:
data.columns

Index(['시가총액', '티커', 'year', '회사명', '거래소코드', '회계년도', 'PER(최고)(IFRS)',
       'PER(최저)(IFRS)', 'PBR(최고)(IFRS)', 'PBR(최저)(IFRS)', 'PCR(최고)(IFRS)',
       'PCR(최저)(IFRS)', 'PSR(최고)(IFRS)', 'PSR(최저)(IFRS)', '1주당순이익(IFRS)(원)',
       '유동자산(*)(요약)(IFRS연결)(백만원)', '부채(*)(요약)(IFRS연결)(백만원)',
       '당기순이익(손실)(요약)(IFRS연결)(백만원)', '매출액(수익)(요약)(IFRS연결)(백만원)',
       '매출총이익(손실)(요약)(IFRS연결)(백만원)', '계속영업이익(손실)(요약)(IFRS연결)(백만원)'],
      dtype='object')

In [7]:
# "티커" 컬럼 제거
data = data[[
    '시가총액', 'year', '회사명', '거래소코드', '회계년도',
       'PER(최고)(IFRS)', 'PER(최저)(IFRS)', 'PBR(최고)(IFRS)', 'PBR(최저)(IFRS)',
       'PCR(최고)(IFRS)', 'PCR(최저)(IFRS)', 'PSR(최고)(IFRS)', 'PSR(최저)(IFRS)',
       '1주당순이익(IFRS)(원)', '유동자산(*)(요약)(IFRS연결)(백만원)', '부채(*)(요약)(IFRS연결)(백만원)',
       '당기순이익(손실)(요약)(IFRS연결)(백만원)', '매출액(수익)(요약)(IFRS연결)(백만원)',
       '매출총이익(손실)(요약)(IFRS연결)(백만원)', '계속영업이익(손실)(요약)(IFRS연결)(백만원)'
]]
data.columns

Index(['시가총액', 'year', '회사명', '거래소코드', '회계년도', 'PER(최고)(IFRS)',
       'PER(최저)(IFRS)', 'PBR(최고)(IFRS)', 'PBR(최저)(IFRS)', 'PCR(최고)(IFRS)',
       'PCR(최저)(IFRS)', 'PSR(최고)(IFRS)', 'PSR(최저)(IFRS)', '1주당순이익(IFRS)(원)',
       '유동자산(*)(요약)(IFRS연결)(백만원)', '부채(*)(요약)(IFRS연결)(백만원)',
       '당기순이익(손실)(요약)(IFRS연결)(백만원)', '매출액(수익)(요약)(IFRS연결)(백만원)',
       '매출총이익(손실)(요약)(IFRS연결)(백만원)', '계속영업이익(손실)(요약)(IFRS연결)(백만원)'],
      dtype='object')

(전처리) 시가총액 단위 원 -> 백만원

In [8]:
# 시가총액 단위 : 원 -> 백만원
data['시가총액'] = data['시가총액'] / 1000000

컬럼명 변경

In [9]:
# 컬럼명 변경
# '시가총액' -> '시가총액(백만원)' 변경
# (*), (요약), (손실), (IFRS) 제거

data.columns = [
    '시가총액(백만원)', 'year', '회사명', '거래소코드', '회계년도', 
     'PER(최고)', 'PER(최저)', 
     'PBR(최고)', 'PBR(최저)',
     'PCR(최고)', 'PCR(최저)', 
     'PSR(최고)', 'PSR(최저)', 
     '1주당순이익(원)','유동자산(백만원)', '부채(백만원)',
       '당기순이익(백만원)', '매출액(백만원)',
       '매출총이익(백만원)', '계속영업이익(백만원)'
]

In [10]:
data.columns

Index(['시가총액(백만원)', 'year', '회사명', '거래소코드', '회계년도', 'PER(최고)', 'PER(최저)',
       'PBR(최고)', 'PBR(최저)', 'PCR(최고)', 'PCR(최저)', 'PSR(최고)', 'PSR(최저)',
       '1주당순이익(원)', '유동자산(백만원)', '부채(백만원)', '당기순이익(백만원)', '매출액(백만원)',
       '매출총이익(백만원)', '계속영업이익(백만원)'],
      dtype='object')

ts2000은 2007년 데이터부터 존재함

In [11]:
columns_fin = data.columns[5:]
columns_fin

Index(['PER(최고)', 'PER(최저)', 'PBR(최고)', 'PBR(최저)', 'PCR(최고)', 'PCR(최저)',
       'PSR(최고)', 'PSR(최저)', '1주당순이익(원)', '유동자산(백만원)', '부채(백만원)', '당기순이익(백만원)',
       '매출액(백만원)', '매출총이익(백만원)', '계속영업이익(백만원)'],
      dtype='object')

In [12]:
# data[(data['거래소코드']=='005930') & (data['year']==2006)]
# data[(data['year']==2006)].isna().any(1).all()

# data[(data['year']<=2006)][columns_fin]
# data[(data['year']<=2006)][columns_fin].notna() # False = Nan
# data[(data['year']<=2006)][columns_fin].notna().any(1) # 행별 True가 1개라도 있으면 True
data[(data['year']<=2006)][columns_fin].notna().any(1).sum() # True개수=0 --> 2006년 이전데이터는 모두 결측치임

0

In [13]:
# 2007년 데이터부터 사용
data = data[data['year']>= 2007]
data['year'].value_counts()

2022    798
2023    797
2021    792
2020    776
2019    776
2018    762
2016    745
2017    745
2015    736
2011    732
2012    730
2014    728
2013    722
2010    716
2009    705
2008    694
2007    682
Name: year, dtype: int64

### (퀀트) 전략별 데이터 분할

In [14]:
data.columns

Index(['시가총액(백만원)', 'year', '회사명', '거래소코드', '회계년도', 'PER(최고)', 'PER(최저)',
       'PBR(최고)', 'PBR(최저)', 'PCR(최고)', 'PCR(최저)', 'PSR(최고)', 'PSR(최저)',
       '1주당순이익(원)', '유동자산(백만원)', '부채(백만원)', '당기순이익(백만원)', '매출액(백만원)',
       '매출총이익(백만원)', '계속영업이익(백만원)'],
      dtype='object')

In [30]:
# 공통 columns
columns = ['year', '회사명', '거래소코드', '회계년도', '시가총액(백만원)']
# 시가총액(백만원) : 포트폴리오 자산 배분 시 필요

# 가치주 NCAV 전략 columns
columns_value_ncav = ['유동자산(백만원)', '부채(백만원)', '당기순이익(백만원)'] # 가치주(NCAV)
# columns_value_ncav = ['시가총액(백만원)', '유동자산(백만원)', '부채(백만원)', '당기순이익(백만원)'] # 가치주(NCAV)

# 가치주 저PER, ... 전략 columns
columns_value_low = ['PER(최고)', 'PER(최저)', 'PBR(최고)', 'PBR(최저)', 'PCR(최고)', 'PCR(최저)', 'PSR(최고)', 'PSR(최저)'] # 가치주(저PER, 저PBR, 저PCR)

# 성장주 PEG 전략 columns
columns_growth = ['PER(최고)', 'PER(최저)', '1주당순이익(원)'] # 성장주(PEG)

# 그 외(미사용)
columns_etc = ['매출액(백만원)', '매출총이익(백만원)', '계속영업이익(백만원)']

In [31]:
# 전략별 컬럼 추출

# 가치주 - NCAV 전략 데이터
data_value_ncav = data[columns + columns_value_ncav]
print('NCAV 데이터 :', data_value_ncav.shape)

# 가치주 - LOW 전략 데이터
data_value_low = data[columns + columns_value_low]
print('LOW 데이터 :', data_value_low.shape)

# 성장주 - PEG 전략 데이터
data_growth = data[columns + columns_growth]
print('PEG 데이터 :', data_growth.shape)

NCAV 데이터 : (12636, 8)
LOW 데이터 : (12636, 13)
PEG 데이터 : (12636, 8)

#### (가치주) - NCAV

- 데이터프레임명 : `data_value_ncav`
- csv 파일명 : `../datasets/data_value_ncav.csv`

In [32]:
data_value_ncav.dropna(inplace=True)
data_value_ncav

,year,회사명,거래소코드,회계년도,시가총액(백만원),유동자산(백만원),부채(백만원),당기순이익(백만원)
5360,2007,평산차업집단유한공사,950010,2006/09,1.746000e+04,52122.0,45241.0,10777.0
5384,2008,삼성전자(주),005930,2007/12,6.643200e+07,40363068.0,37403228.0,7922981.0
5385,2008,포스코홀딩스(주),005490,2007/12,3.313100e+07,14291551.0,11157023.0,3677964.0
5386,2008,한국전력공사(주),015760,2007/12,1.899040e+07,9055041.0,38661739.0,1467168.0
5387,2008,에스케이텔레콤(주),017670,2007/12,1.696949e+07,4776689.0,7361302.0,1562265.0
...,...,...,...,...,...,...,...,...
17333,2023,제이준코스메틱(주),025620,2022/12,2.426302e+04,22336.0,6806.0,-21703.0
17334,2023,(주)대유플러스,000300,2022/12,2.086506e+04,254616.0,431958.0,-24286.0
17335,2023,비케이탑스(주),030790,2022/12,1.920832e+04,68846.0,89910.0,-14400.0
17336,2023,(주)코아스,071950,2022/12,1.863705e+04,30927.0,58376.0,-1663.0
17337,2023,일정실업(주),008500,2022/12,1.548000e+04,13595.0,27888.0,-8534.0

In [33]:
# 파일로 저장
print("결측치 제거 후 데이터 크기 :", data_value_ncav.shape)
data_value_ncav.to_csv('../datasets/data_value_ncav.csv')

결측치 제거 후 데이터 크기 : (8901, 8)

In [34]:
# data_value_ncav['NCAV'] = data_value_ncav['유동자산(백만원)'] - data_value_ncav['부채(백만원)']

# data_value_ncav['NCAV/시총'] = data_value_ncav['NCAV'] / data_value_ncav['시가총액(백만원)']

# # 조건1: ncav > 1.5*시총
# data_value_ncav['조건1'] = data_value_ncav['NCAV/시총'] > 1

# # 조건2: 흑자기업(당기순이익>0)
# data_value_ncav['조건2'] = data_value_ncav['당기순이익(백만원)'] > 0

# data_value_ncav

In [35]:
# flag1 = data_value_ncav['조건1']
# flag2 = flag1 & data_value_ncav['조건2']

# data_value_ncav[flag1]['year'].value_counts()

In [36]:
# flag2 = flag1 & data_value_ncav['조건2'] # ncav, 흑자기업

# data_value_ncav[flag2]['year'].value_counts()

#### (가치주) - LOW

- 데이터프레임명 : `data_value_low`
- csv 파일명 : `../datasets/data_value_low.csv`

In [37]:
data_value_low.dropna(inplace=True)
data_value_low

,year,회사명,거래소코드,회계년도,시가총액(백만원),PER(최고),PER(최저),PBR(최고),PBR(최저),PCR(최고),PCR(최저),PSR(최고),PSR(최저)
5384,2008,삼성전자(주),005930,2007/12,6.643200e+07,15.74,11.46,2.34,1.70,8.81,6.41,1.85,1.35
5385,2008,포스코홀딩스(주),005490,2007/12,3.313100e+07,18.13,6.74,2.81,1.05,13.15,4.89,3.00,1.12
5386,2008,한국전력공사(주),015760,2007/12,1.899040e+07,19.86,15.08,0.71,0.54,12.13,9.21,1.07,0.81
5387,2008,에스케이텔레콤(주),017670,2007/12,1.696949e+07,13.77,9.27,2.45,1.65,6.08,4.09,2.00,1.35
5388,2008,에이치디한국조선해양(주),009540,2007/12,1.516200e+07,24.08,5.25,8.73,1.90,10.16,2.22,2.69,0.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17333,2023,제이준코스메틱(주),025620,2022/12,2.426302e+04,0.00,0.00,13.29,0.00,0.00,0.00,99.19,0.00
17334,2023,(주)대유플러스,000300,2022/12,2.086506e+04,0.00,0.00,3.30,1.65,0.00,0.00,1.73,0.86
17335,2023,비케이탑스(주),030790,2022/12,1.920832e+04,0.00,0.00,11.50,0.00,0.00,0.00,21.48,0.00
17336,2023,(주)코아스,071950,2022/12,1.863705e+04,0.00,0.00,3.01,1.43,0.00,0.00,0.49,0.23
17337,2023,일정실업(주),008500,2022/12,1.548000e+04,0.00,0.00,6.11,2.19,0.00,0.00,1.70,0.61

In [38]:
# 결측치 제거 후 파일로 저장
print("결측치 제거 후 데이터 크기 :", data_value_low.shape)

data_value_low.to_csv('../datasets/data_value_low.csv')

결측치 제거 후 데이터 크기 : (11021, 13)

#### (성장주) - PEG

- 데이터프레임명 : `data_growth`
- csv 파일명 : `../datasets/data_growth.csv`

In [39]:
data_growth.dropna(inplace=True)
data_growth

,year,회사명,거래소코드,회계년도,시가총액(백만원),PER(최고),PER(최저),1주당순이익(원)
5384,2008,삼성전자(주),005930,2007/12,6.643200e+07,15.74,11.46,49532.0
5385,2008,포스코홀딩스(주),005490,2007/12,3.313100e+07,18.13,6.74,48444.0
5386,2008,한국전력공사(주),015760,2007/12,1.899040e+07,19.86,15.08,2504.0
5387,2008,에스케이텔레콤(주),017670,2007/12,1.696949e+07,13.77,9.27,22607.0
5388,2008,에이치디한국조선해양(주),009540,2007/12,1.516200e+07,24.08,5.25,27778.0
...,...,...,...,...,...,...,...,...
17333,2023,제이준코스메틱(주),025620,2022/12,2.426302e+04,0.00,0.00,-7343.0
17334,2023,(주)대유플러스,000300,2022/12,2.086506e+04,0.00,0.00,-407.0
17335,2023,비케이탑스(주),030790,2022/12,1.920832e+04,0.00,0.00,-378.0
17336,2023,(주)코아스,071950,2022/12,1.863705e+04,0.00,0.00,-72.0
17337,2023,일정실업(주),008500,2022/12,1.548000e+04,0.00,0.00,-6067.0

In [40]:
# 결측치 제거 후 파일로 저장
print("결측치 제거 후 데이터 크기 :", data_growth.shape)

data_growth.to_csv('../datasets/data_growth.csv')

결측치 제거 후 데이터 크기 : (11021, 8)

In [41]:
# data_growth.sort_values(['거래소코드', 'year'])

In [42]:
# len(data_growth['거래소코드'].unique())

In [43]:
# # 행별 결측치 제거

# data_growth[~data_growth.isna().any(axis=1)]

In [44]:
# data_growth['회계년도'].unique()